<p>Write less, say more.</p>
<div class="outside">
  <div class="button" ID="teach">
    <%= link_to "Create", controller: "pages" %>
  </div>
  <div class="button" ID="learn">
    <%= link_to "Browse", controller: "users" %>
  </div>
</div>
