<div class="outside">
  <div class="button" ID="teach">
    <%= link_to "Teach", controller: "pages" %>
  </div>
  <div class="button" ID="learn">
    <%= link_to "Learn", controller: "users" %>
  </div>
</div>
