<!--Instructions for creating a page-->
<h1 class="instructions">How to create your page:</h1>
<p class="instructions">1. Name your site and add an optional description.</p>
<div class="demo_pic"><img src="/assets/name_site.png"></div>
<p class="instructions">2. Create panels with pictures or text.</p>
<div class="demo_pic"><img src="/assets/create_panels.png"></div>
<div class="demo_pic"><img src="/assets/add_text.png"></div>
<p class="instructions">3. Allow user interaction by adding select panels.</p>
<div class="demo_pic"><img src="/assets/add_select.png"></div>
<p class="instructions">4. Set panel visibility based on options that the user selects.</p>
<div class="demo_pic"><img src="/assets/set_visibility.png"></div>
<p class="instructions">5. Publish your site!</p>
<div class="demo_pic"><img src="/assets/your_site.png"></div>
<br/>
<p><a href="new">Start creating!</a></p>
