/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 *= stub blue
 *= stub green
 *= stub orange
 *= stub purple
 *= stub red
 *= stub yellow
 */

#header
{
  margin: 0 auto;
  font-family: Lucida Grande;
  font-size: 90px;
  text-align: center;
  position: fixed;
  top:0;
  left:0;
  right:0;
  height:125px;
  background: rgba(0,0,0,0.85);
  z-index: 1;
}

#header a:link,
#header a:visited,
#header a:hover {
  text-decoration: none;
  color: white;
}

#register
{
  font-size: 12px;
  text-align: right;
  text-decoration: none;
  color: gray;
}

