/* Blue - #3598db */

a:link,a:visited{
	color:#3598db;
}

::-moz-selection {
    background: #3598db;
    text-shadow: none;
}

::selection {
    background: #3598db;
    text-shadow: none;
}


.navbar-default a.navbar-brand:hover,
.navbar-default a.navbar-brand:active{
	color:#3598db;
}

.navbar-default .navbar-nav>li>a{
	color:#fff;
}

.navbar-default .navbar-nav>li>a:hover, 
.navbar-default .navbar-nav>li>a:focus,a:hover,a:active,.navbar-default .navbar-nav>.active>a, 
.navbar-default .navbar-nav>.active>a:hover, 
.navbar-default .navbar-nav>.active>a:focus{
	color:#3598db;

}

.nav-effect a:hover::before,
.nav-effect a:focus::before {
  color: #3598db;
  text-shadow: 10px 0 #3598db, -10px 0 #3598db;
}

.spacer,.nav-pills>li.active>a, .nav-pills>li.active>a:hover, .nav-pills>li.active>a:focus,#grid .mix .overlay,.follow {
background: #3598db;
}

.planContainer .button a.bestPlanButton,
.planContainer .price p.bestPlanPrice,
.planContainer .button a.bestPlanButton {
  background: #3598db;
  border: 2px solid #3598db;
}

.planContainer .button a.bestPlanButton:hover {
  background: #3598db;
  border: 2px solid #3598db;
}

.flex-control-paging li a:hover { background: #3598db; }
.flex-control-paging li a.flex-active { background: #3598db;}

.home-slides li span{
	color:#3598db;
}

.nav-pills>li>a:hover,
.nav-pills>li.active>a{
	background: #3598db;
	border: 2px solid #3598db;
	color:#fff;
}

#page-contact{
	background: #3598db;
	color:#fff;
}

#page-contact .spacer{
	background: #fff;
}

#page-contact .section-title{
	color:#fff;
}

.btn.btn-default{
   background: #3598db;
}

.btn.btn-default:hover,
.btn.btn-default:active{
    color:#3598db;
}


.hi-icon-effect-1 .hi-icon {
	background: #3598db;
}

.hi-icon-effect-1 .hi-icon:after {
	box-shadow: 0 0 0 4px #3598db;
}

.no-touch .hi-icon-effect-1 .hi-icon:hover {
	
}



.service-block .service-icon{
   box-shadow: 0px 0px 0px 3px #3598db;
    background: #3598db;
}

.service-icon i{
		color:#fff;

}

.service-block h3{
	color:#3598db;
}

.service-block:hover{
	background: #3598db;
}

.service-block:hover .service-icon{
	background:#fff;
}

.service-block:hover .service-icon i{
	color:#3598db;
}

.service-block:hover  h3,
.service-block:hover  p,
.service-block:hover ul li{
	color:#fff;
}

.service-block:hover  ul li{
	 border-bottom: solid thin #fff;
}

.highlight{
	background: #3598db;
	color:#fff;
}

.highlight h2{
	color:#fff;
}

blockquote i{
	color:#3598db;
}



