// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.outside
{
  margin: 0;
  padding-left: 100px;
  padding-right: 100px;
}

.button
{
  font-family: Geneva;
  font-size: 50px;
  background: rgba(0,0,0,0.5);
}

.button a:link,
.button a:visited,
.button a:hover 
{
  text-decoration: none;
  color: white;
}

#teach 
{
  padding: 75px;
  float: left;
}

#learn 
{
  padding: 75px;
  float: right;
}

p
{
  text-align: center;
  font-size: 20px;
  padding-top: 50px;
  padding-bottom: 25px;
  color: white;
}
