// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.outside
{
  margin: 0;
  padding: 100px 100px 500px 100px;
  background-color: #6666FF;
}

.button
{
  font-family: Geneva;
  font-size: 50px;
  background: rgba(0,0,0,0.5);
}

.button a:link,
.button a:visited,
.button a:hover 
{
  text-decoration: none;
  color: white;
}

#teach 
{
  padding: 75px;
  float: left;
}

#learn 
{
  padding: 75px;
  float: right;
}
