// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


body
{
  font-family: Helvetica;
  margin: 0px;
  padding: 125px 0px 0px 0px;
}

.navbar-header
{
	color: white;
}


