<body>
  <section id='parallax-quote' class='parallax'>
  <table class='left-pic-panel'>
    <td class='left-pic'>
      <%= image_tag panel.file %>
    </td>
    <td>
      <div class='row'>
        <div class='col-md-12'>
          <div class='parallax-content'>
            <blockquote>
              <%= render 'sites/panel_title', panel: panel %>
              <footer>
              <%= render 'sites/panel_info', panel: panel %>
              </footer>
            </blockquote>
          </div>
        </div>
      </div>
    </td>
  </table>
  </section>
</body>
