<body>
  <section id='parallax-quote' class='parallax'>
  <div class='parallax-background<%=panel.id %> parallax-background'></div>
  <div class='container'>
    <div class='row'>
      <div class='col-md-12'>
        <div class='parallax-content'>
          <blockquote>
            <%= render 'panel_title', panel: panel %>
            <footer>
            <%= render 'panel_info', panel: panel %>
            </footer>
          </blockquote>
        </div>
      </div>
    </div>
  </div>
  </section>
</body>
